.countries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hint {
  margin-left: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
